/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  min-height: 100vh;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

#app {
  /* background-color: green;
  color: yellow; */
}

i:hover {
  color: grey;
}